/*svg inline*/
.svg_wrap svg{width:inherit;height:inherit;}
.icoSvg{display:inline-flex;color:$icon-color-default;width:20px;height:20px;}
.icoSvg.stroke{fill:transparent;}

.col_primary{color:$icon-color-primary;}
.col_gray{color:$icon-color-default !important;}
.col_lightgray{color:$icon-color-lightgray}
.col_white{color:#fff !important;}
.col_error{color:$color-error;}
.col_info{color:$color-info;}
.col_warning{color:$color-warning;}

.ico_arr_bot{transform: rotate(90deg);}
.ico_arr_top{transform: rotate(-90deg);}
.ico_arr_left{transform: rotate(180deg);}

.i_s12{width:12px;min-width:12px;height:12px;}
.i_s14{width:14px;min-width:14px;height:14px;}
.i_s16{width:16px;min-width:16px;height:16px;}
.i_s18{width:18px;min-width:18px;height:18px;}
.i_s20{width:20px;min-width:20px;height:20px;}
.i_s24{width:24px;min-width:24px;height:24px;}
.i_s32{width:32px;min-width:32px;height:32px;}
.i_s40{width:40px;min-width:40px;height:40px;}
.i_s44{width:44px;min-width:44px;height:44px;}
.i_s48{width:48px;min-width:48px;height:48px;}

.box_s12{width:12px;min-width:12px;height:12px;}
.box_s14{width:14px;min-width:14px;height:14px;}
.box_s16{width:16px;min-width:16px;height:16px;}
.box_s18{width:18px;min-width:18px;height:18px;}
.box_s20{width:20px;min-width:20px;height:20px;}
.box_s24{width:24px;min-width:24px;height:24px;}
.box_s32{width:32px;min-width:32px;height:32px;}
.box_s40{width:40px;min-width:40px;height:40px;}
.box_s44{width:44px;min-width:44px;height:44px;}
.box_s48{width:48px;min-width:48px;height:48px;}

.icoSvg.stroke{stroke-width: 1.5;}
.icoSvg.stroke.px_2{stroke-width: 2;}
