.ico{display: inline-flex;}
.ico:before {content: '';display: flex;width: inherit;height: inherit;background-repeat: no-repeat;background-position: center;background-size: 100%;}

.ico.ico_search:before{background-image: url(../images/icon/ico_search.svg);}
.ico.ico_search_gray:before{background-image: url(../images/icon/ico_search_gray.svg);}
.ico.ico_search_white:before{background-image: url(../images/icon/ico_search_white.svg);}
.ico.ico_file:before{background-image: url(../images/icon/ico_file.svg);}
.ico.ico_file_white:before{background-image: url(../images/icon/ico_file_white.svg);}
.ico.ico_menu:before{background-image: url(../images/icon/ico_menu.svg);}
.ico.ico_share:before{background-image: url(../images/icon/ico_share.svg);}
.ico.ico_share_white:before{background-image: url(../images/icon/ico_share_white.svg);}
.ico.ico_comment:before{background-image: url(../images/icon/ico_comment.svg);}
.ico.ico_comment_gray:before{background-image: url(../images/icon/ico_comment_gray.svg);}
.ico.ico_comment_white:before{background-image: url(../images/icon/ico_comment_white.svg);}
.ico.ico_scrap:before{background-image: url(../images/icon/ico_scrap.svg);}
.ico.ico_scrap.on:before{background-image: url(../images/icon/ico_scrap_on.svg);}
.ico.ico_scrap_white:before{background-image: url(../images/icon/ico_scrap_white.svg);}
.ico.ico_scrap_white.on:before{background-image: url(../images/icon/ico_scrap_on.svg);}
.ico.ico_more:before{background-image: url(../images/icon/ico_more.svg);}
.ico.ico_more_gray:before{background-image: url(../images/icon/ico_more_gray.svg);}
.ico.ico_print:before{background-image: url(../images/icon/ico_print.svg);}
.ico.ico_zoomIn:before{background-image: url(../images/icon/ico_zoom-in.svg);}
.ico.ico_zoomOut:before{background-image: url(../images/icon/ico_zoom-out.svg);}
.ico.ico_list_white:before{background-image: url(../images/icon/ico_list_white.svg);}
.ico.ico_listClose:before{background-image: url(../images/icon/ico_list-close.svg);}
.ico.ico_listClose.on:before{background-image: url(../images/icon/ico_list-open.svg);}
.ico.ico_close:before{background-image: url(../images/icon/ico_close.svg);}
.ico.ico_close_gray:before{background-image: url(../images/icon/ico_close_gray.svg);}
.ico.ico_close_white:before{background-image: url(../images/icon/ico_close_white.svg);}
// .ico.ico_outlink:before{background-image: url(../images/icon/ico_outlink.svg);}

.ico.ico_save:before{background-image: url(../images/icon/ico_save.svg);}
.ico.ico_save_white:before{background-image: url(../images/icon/ico_save_white.svg);}
.ico.ico_del:before{background-image: url(../images/icon/ico_del.svg);} /*gray*/
.ico.ico_trash:before{background-image: url(../images/icon/ico_trash.svg);}
.ico.ico_cancel:before{background-image: url(../images/icon/ico_cancel.svg);}
.ico.ico_edit:before{background-image: url(../images/icon/ico_edited.svg);} /*gray*/
.ico.ico_editor:before{background-image: url(../images/icon/ico_editor.svg);} /*black*/
.ico.ico_edit_white:before{background-image: url(../images/icon/ico_edit.svg);}

.ico.ico_top:before{background-image: url(../images/icon/ico_top.svg);}
.ico.ico_arrT:before{background-image: url(../images/icon/ico_arr.svg);transform:rotate(270deg);}
.ico.ico_arrR:before{background-image: url(../images/icon/ico_arr.svg);}
.ico.ico_arrB:before{background-image: url(../images/icon/ico_arr.svg);transform:rotate(90deg);}

.btn_attachments .ico::before{content:'';display:inline-flex;min-width:20px;height:20px;background-image:url('../images/icon/ico_sp_extension.svg');background-position:0 0;background-repeat:no-repeat;}
.btn_attachments .ico_doc::before{background-position:0 0;}
.btn_attachments .ico_hwp::before{background-position:0 -20px;}
.btn_attachments .ico_ppt::before{background-position:0 -40px;}
.btn_attachments .ico_zip::before{background-position:0 -60px;}
.btn_attachments .ico_xls::before{background-position:0 -80px;}
.btn_attachments .ico_pdf::before{background-position:0 -100px;}
.btn_attachments .ico_pic::before{background-position:0 -120px;}
.btn_attachments .ico_etc::before{background-position:0 -140px;}

/*svg inline*/
.svg_wrap svg{width:inherit;height:inherit;}
.icoSvg{display:inline-flex;color:$icon-color-default;width:20px;height:20px;}
.icoSvg.stroke{fill:transparent;}

.col_primary{color:$icon-color-primary;}
.col_gray{color:$icon-color-default !important;}
.col_lightgray{color:$icon-color-lightgray}
.col_white{color:#fff !important;}
.col_error{color:$color-error;}
.col_info{color:$color-info;}
.col_warning{color:$color-warning;}

.ico_arr_bot{transform: rotate(90deg);}
.ico_arr_top{transform: rotate(-90deg);}
.ico_arr_left{transform: rotate(180deg);}

.i_s12{width:12px;min-width:12px;height:12px;}
.i_s14{width:14px;min-width:14px;height:14px;}
.i_s16{width:16px;min-width:16px;height:16px;}
.i_s18{width:18px;min-width:18px;height:18px;}
.i_s20{width:20px;min-width:20px;height:20px;}
.i_s24{width:24px;min-width:24px;height:24px;}
.i_s32{width:32px;min-width:32px;height:32px;}
.i_s40{width:40px;min-width:40px;height:40px;}
.i_s44{width:44px;min-width:44px;height:44px;}

.icoSvg.stroke{stroke-width: 1.5;}
.icoSvg.stroke.px_2{stroke-width: 2;}
