//타이틀
@mixin typo-display($color:$text-color-100, $weight:700){ // h1-b
  font-size:28px;
  line-height:40px;
  color: $color;
  font-weight: $weight;
}
@mixin typo-heading-lg($color:$text-color-100, $weight:700){ // h1-b
  font-size:20px;
  line-height:30px;
  color: $color;
  font-weight: $weight;
}
@mixin typo-heading-md($color:$text-color-100, $weight:500){ //h2-m
  font-size:18px;
  line-height:28px;
  color: $color;
  font-weight: $weight;
}
@mixin typo-heading-sm($color:$text-color-100, $weight:400){ //h3-R
  font-size:16px;
  line-height:24px;
  color: $color;
  font-weight: $weight;
}

//본문
@mixin typo-body-lg($color:$text-color-400, $weight:400){  //body1.1-R
  font-size:15px;
  line-height:25.5px;
  color: $color;
  font-weight: $weight;
}
@mixin typo-body-md($color:$text-color-400, $weight:400){ //body1-R ...
  font-size:14px;
  line-height:170%;
  color: $color;
  font-weight: $weight;
}

//서브텍스트
@mixin typo-caption-md($color:$text-color-800, $weight:400){ //caption-13R
  font-size:13px;
  line-height:18px;
  color: $color;
  font-weight: $weight;
}
@mixin typo-caption-sm($color:$text-color-800, $weight:400){ //capion-R
  font-size:12px;
  line-height:18px;
  color: $color;
  font-weight: $weight;
}

@mixin ellipsis($lines: 1) {
  @if ($lines==1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
.typo-display{
  @include typo-display;
}
.typo_heading_lg{
  @include typo-heading-lg;
}
.typo_body_lg{
  @include typo-body-lg;
}
.typo_caption_md{
  @include typo-caption-md;
}
.typo_caption_sm{
  @include typo-caption-sm;
}
.txt_bold{font-weight:bold;}
.txt_weight_md{font-weight: 500;}
.col_txt_blue{color:$base-color-blue-60;}
.col_txt_red{color:$base-color-red-60;}
.col_txt_primary{color:$text-color-primary;}
.col_txt_required{color:$color-required;}
.col_txt_light{color:$text-color-light;}
.col_txt_100{color:$text-color-100;}
.col_txt_400{color:$text-color-400;}
.col_txt_800{color:$text-color-800;}

/*기존 타이포*/
.tit{font-size: 20px;font-weight: 700;line-height: 30px;color:$text-color-100}
.tit + .sub_txt{display:block;color:$text-color-800;margin-top:8px;}
.tit + .sub_txt ~ .sub_txt{display:block;color:$text-color-800;margin-top:2px;}
.modal-header .sub_txt{color:$text-color-800;}
.sub_tit{font-size:14px;font-weight:700;line-height:23.8px;color:$text-color-400;}
.h2{font-size:16px;font-weight:500;line-height:24px;margin-bottom:0;}
.caption{font-size:12px;line-height:18px;color:#CACACA;}
.caption_body{font-size:14px;color:$text-color-800;}

.txt_info{color:$color-info;font-size:12px;font-weight:400;}
.txt_success{color:$color-success;font-size:12px;font-weight:400;}
.txt_error{color:$color-error;font-size:12px;font-weight:400;}
.txt_link{text-decoration: underline;color:$text-color-link;}
.txt_link:hover{text-decoration: underline;color:$text-color-link;}

