@for $i from 0 through 30 {
  .mt#{$i * 2} {
    margin-top: #{$i * 2px} !important;
  }
}

@for $i from 0 through 30 {
  .mb#{$i * 2} {
    margin-bottom: #{$i * 2px} !important;
  }
}

@for $i from 0 through 30 {
  .mr#{$i * 2} {
    margin-right: #{$i * 2px} !important;
  }
}

@for $i from 0 through 30 {
  .ml#{$i * 2} {
    margin-left: #{$i * 2px} !important;
  }
}

@for $i from 0 through 30 {
  .pt#{$i * 2} {
    padding-top: #{$i * 2px} !important;
  }
}

@for $i from 0 through 30 {
  .pb#{$i * 2} {
    padding-bottom: #{$i * 2px} !important;
  }
}

@for $i from 0 through 30 {
  .pr#{$i * 2} {
    padding-right: #{$i * 2px} !important;
  }
}

@for $i from 0 through 30 {
  .pl#{$i * 2} {
    padding-left: #{$i * 2px} !important;
  }
}

mark{background-color:$color-mark;padding:0 !important;}

.me-auto{margin-right:auto !important;}

.w80px{width:80px !important;}
.w100px{width:100px !important;}
.w140px{width:140px !important;}
.w150px{width:150px !important;}
.w190px{width:190px !important;}
.w200px{width:200px !important;}
.w100{width:100% !important;}

.txt_center{text-align:center;}
.txt_left{text-align:left;}



