/* 기본레이아웃 */
.main_page{width:100%;height:100%;min-height:100vh;padding-bottom:60px;background-color:$color-bg-light;}
.main_page main{position:relative;height:100%;}
.main_page .container{width:100%;max-width:100%;margin:0;padding:0 16px;}
.main_page .content{max-width:1236px;margin:0 auto;}
.main_page .logo_area{padding-top:160px;margin-bottom:40px;text-align:center;}

/* 마이메뉴 */
.mypage_area{position:absolute;top:16px;right:16px !important;z-index:10}
.mypage_area .btn_logout{position:absolute;top:16px;right:16px;}
.mypage_area .myinfo{display:flex;flex-wrap:wrap;max-width:170px;padding:16px;text-align:left;white-space: normal;}
.mypage_area .myinfo .name{@include type-heading-sm($color:$text-color-400, $weight:700);margin-right:6px;}
.mypage_area .myinfo .position{@include type-caption-md($color:$text-color-primary);line-height:24px;}
.mypage_area .myinfo .email{display:block;@include type-caption-md;margin-top:4px;}
.mypage_area .dropdown-menu{min-width:240px;padding:0;margin-top:8px;}
.mypage_area .dropdown-menu .menu_list{padding:8px 0;border-top:1px solid $color-border-default;}
.mypage_area .dropdown-menu .menu_list .menu_listItem a{@include type-body-md;display:flex;align-items: center;width:100%;height:38px;padding:0 16px;text-align:left;}
.mypage_area .dropdown-menu .menu_list .menu_listItem a i{position:relative;top:-1px;margin-right:4px;}

/* 저장소 */
.main_page .repo_wrap{margin:0 auto;}
.main_page .repo_wrap .repo_area{position:relative;width:400px;height:518px;background-color:#fff;border:1px solid $color-border-default;border-radius: 20px;overflow:hidden;}

.main_page .repo_wrap .repo_head{position:absolute;top:0;left:0;width:100%;padding:24px 24px 16px 24px;background-color:#fff;border-bottom:1px solid $color-border-default;z-index:10;}
.main_page .repo_wrap .repo_head .chip_area{margin-right:42px;}
.main_page .repo_wrap .repo_head .tit{white-space: nowrap;@include type-heading-md($text-color-400, 700);}
.main_page .repo_wrap .repo_head .tit_box{display:flex;align-items: center;justify-content: space-between;}
.main_page .repo_wrap .repo_head .repo_name{margin-left:8px;@include ellipsis;}
.main_page .repo_wrap .repo_head .repo_filter{position:relative;height:37px;overflow-y:hidden;margin-top:12px;}
.main_page .repo_wrap .repo_head .repo_filter .btn_more{position:absolute;top:0;right:0;}

.main_page .repo_wrap .repo_head.on{display:flex;flex-direction: column;width:100%;max-height:70%;box-shadow: $shadow-sm;overflow-y:hidden;}
.main_page .repo_wrap .repo_head.on .chip_area{height:calc(100% - 26px);overflow-y:auto;}
.main_page .repo_wrap .repo_head.on .repo_filter{height:100%;overflow-y:hidden;display:flex;flex-direction: column;}
.main_page .repo_wrap .repo_head.on .repo_filter .btn_more{transform: rotate(180deg);}

.main_page .repo_wrap .chip_area{display:flex;flex-wrap:wrap;}
.main_page .repo_wrap .chip_area .chip{@include ellipsis;margin-right:8px;margin-bottom:8px;}

.main_page .repo_wrap .repo_body{padding:120px 0 0}
.main_page .repo_wrap .repo_body .nodata{padding-top:160px;}

.main_page .repo_wrap .doc_list{margin:16px 0 14px;}
.main_page .repo_wrap .doc_listItem{display:flex;align-items:center;padding:0 24px;}
.main_page .repo_wrap .doc_listItem:hover{background-color:$color-bg-default;}
.main_page .repo_wrap .doc_listItem a{@include ellipsis;padding:6px 0;margin-right:12px;}
.main_page .repo_wrap .doc_listItem .rank{display:flex;align-items: center;justify-content: center;margin-right:4px;min-width:18px;width:18px;height:18px;font-size:12px;color:$text-color-800;border-radius: $btn-radius-default;background-color:$color-bg-default}
.main_page .repo_wrap .doc_listItem .sub_info{white-space:nowrap;margin-left:auto;font-size:12px;}
.main_page .repo_wrap .doc_listItem .sub_info.date{color:#cacaca;}
.main_page .repo_wrap .doc_listItem .sub_info.views{color:#8e8e8e;}
.main_page .repo_wrap .doc_listItem .sub_info.txt_badge.red{padding:0 5px;height:18px;line-height:18px;background-color:#FEF2F2;}
.main_page .repo_wrap .doc_listItem .sub_info.noChange::after{content: '';display:flex;width:6px;height:1px;background-color:#8e8e8e;}

/* 주요항목설정 */
.main_page .setting_area{text-align:right;margin:8px 18px 0 0;}
.main_page .setting_area .btn_setting{display:inline-flex;color:$text-color-800;}
.main_page .setting_area .btn_setting .icoSvg{margin-left:4px;}

/* 주요항목설정 - defalut */
.documentSet_area{max-width:600px;padding:60px 24px;margin:40px auto 0;border:1px solid $color-border-default;text-align:center;border-radius: 20px;}
.documentSet_area .tit{@include type-heading-md;margin-top:16px;margin-bottom:4px;}
.documentSet_area .txt{margin-bottom:16px;color:$text-color-800;}
.documentSet_area .button{padding:0 16px;}

/* 스와이퍼 */
.repository {display:flex;margin:60px auto 0;}
.repository .swiper-container{padding:0 18px !important;width:100%;}
.repository [class*='swiper-button']{display:flex;align-items: center;justify-content: center;width:36px !important;height:36px !important;border:1px solid $color-border-default;border-radius: 50%;background-color:#fff;background-image:none !important;}
.repository .swiper-button-disabled{display:none;}
.repository .swiper-button-next{right:0;}
.repository .swiper-button-prev{left:0;}
.repository .swiper-button-next:after, .swiper-button-prev:after{font-size:12px;font-weight:bold;color:#888;}

/* 반응형 */
@media all and (max-width:768px) {
  .main_page .container{padding:0;}
  .main_page .logo_area{padding-top:60px;margin-bottom:28px;}
  .main_page .logo_area svg{width:100px;height:22px;}

  .main_page .search_wrap{padding:0 16px;}
  .douSet_area{margin:24px 16px 0;max-width:100%;}

  .repository{margin-top:24px;}

  .main_page .repo_wrap .repo_area{width:100%;margin-bottom:16px;}
  .main_page .repo_wrap .repo_area:last-child{margin-bottom:0;}
}
