@charset "UTF-8";
/*base-color는 다른 변수에 재할당하여 사용*/
/*==========================================================*/
mark {
  color: #4b4b4b;
  font-weight: 600;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

/*header*/
.doc_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 24px 0 32px;
  height: 60px;
  background: #15C5CE;
  z-index: 900;
}

.doc_header h1 {
  font-size: 20px;
  margin-right: 8px;
  font-weight: 700;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

.doc_header .left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.doc_header .left .tit_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.doc_header .left.on .tit_box {
  display: none;
}

.doc_header .left .edit_box {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.doc_header .left.on .edit_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.doc_header .left .edit_box input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 16px;
}

.doc_header .left .edit_box input + button {
  margin-right: 8px;
}

.doc_header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 40px;
  white-space: nowrap;
}

.doc_header .right .btn_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.doc_header .right .btn_list > .list {
  position: relative;
  margin-left: 16px;
}

.doc_header .right .btn_list > .list button {
  min-width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.doc_header .right .fontZoom_btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 8px;
  color: #fff;
  vertical-align: center;
}

.doc_header .right .fontZoom_btn_box button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.doc_header .right .fontZoom_btn_box button::before {
  width: 24px;
  height: 24px;
}

.doc_header .right .fontZoom_btn_box span {
  margin: 0 4px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  vertical-align: top;
  cursor: pointer;
}

.doc_header .myMenu_btn_box {
  position: relative;
  margin-left: 16px;
}

.doc_header .myMenu_btn_box > button {
  min-width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.doc_header .myMenu_btn_box > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.doc_header .myMenu_btn_box > button::before {
  width: 24px;
  height: 24px;
}

.doc_header .left .myMenu_btn_box {
  display: none;
}

.doc_header .left .myMenu_btn_box .ico_scrap_white {
  color: #4B4B4B;
}

.doc_header .left .myMenu_btn_box .ico_scrap_white::before {
  background-image: url(../images/icon/ico_scrap.svg);
}

.doc_header .left .myMenu_btn_box .ico_scrap_white.on::before {
  background-image: url(../images/icon/ico_scrap_on.svg);
}

.doc_header .integratedSearch_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 24px;
  z-index: 100;
}

.doc_header .integratedSearch_box .ico_close_white {
  display: none;
}

.doc_header .integratedSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.doc_header .integratedSearch input {
  width: auto;
  height: 100%;
  padding: 0 4px 0 12px;
  background-color: #00ABB6;
  color: #fff;
  border: 0;
  border-radius: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.doc_header .integratedSearch input::-webkit-input-placeholder {
  color: #fff;
}

.doc_header .integratedSearch input::-moz-placeholder {
  color: #fff;
}

.doc_header .integratedSearch input:-ms-input-placeholder {
  color: #fff;
}

.doc_header .integratedSearch input::-ms-input-placeholder {
  color: #fff;
}

.doc_header .integratedSearch input::placeholder {
  color: #fff;
}

.doc_header .integratedSearch input:focus {
  background-color: #fff;
  color: #4B4B4B;
}

.doc_header .integratedSearch input:focus::-webkit-input-placeholder {
  color: #4B4B4B;
}

.doc_header .integratedSearch input:focus::-moz-placeholder {
  color: #4B4B4B;
}

.doc_header .integratedSearch input:focus:-ms-input-placeholder {
  color: #4B4B4B;
}

.doc_header .integratedSearch input:focus::-ms-input-placeholder {
  color: #4B4B4B;
}

.doc_header .integratedSearch input:focus::placeholder {
  color: #4B4B4B;
}

.doc_header .right {
  height: 100%;
}

.doc_header .right .fontZoom_btn_box > div {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.doc_header .right .tooltip_label_bot {
  bottom: -24px;
}

.doc_header .right .btn_list > .list .ico::before {
  width: 24px;
  height: 24px;
}

.doc_header .right .btn_list > .list .ico_print {
  border-radius: 50%;
}

.doc_header .right .btn_list > .list .ico_print:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.doc_header .right .edit_btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 24px;
  padding-right: 24px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.doc_header .right .edit_btn_box li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 24px;
}

.doc_header .right .edit_btn_box li button.ico {
  position: relative;
  overflow: visible;
}

.doc_header .integratedSearch input:focus + button {
  background-color: #fff;
}

.doc_header .integratedSearch input:focus + button.ico_search::before {
  background-image: url(../images/icon/ico_search.svg);
}

.doc_header .integratedSearch button {
  display: inline-block;
  height: 100%;
  padding: 0 8px;
  background-color: #00ABB6;
  width: 40px;
  height: 36px;
}

.doc_header .integratedSearch button.ico_search::before {
  background-image: url(../images/icon/ico_search_white.svg);
  width: 24px;
}

.doc_header .i_s20 .tooltip_label_bot {
  bottom: -32px;
}

/* 레이아웃 */
body {
  overflow-y: hidden;
}

.left_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  width: 240px;
  min-width: 240px;
  max-width: 480px;
  padding-right: 6px;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  z-index: 10;
}

.right_section {
  position: relative;
  top: 60px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #fff;
  border-left: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.resize-handle--x {
  z-index: 1;
  background: url(../images/layout/drag_bar.gif) no-repeat center center;
  width: 5px;
  cursor: col-resize;
  bottom: 0;
  top: 0;
}

#dragbar:active {
  background-color: #f7f7f7;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: block !important;
  right: 0;
  border-left: 1px solid #eee;
  z-index: 110 !important;
  background: #fff url(../images/bg_drag.svg) no-repeat center;
}

.ui-resizable-handle, .ui-resizable-e {
  display: block !important;
  right: 0;
  border-left: 1px solid #eee;
  z-index: 110 !important;
  background: #fff url(../images/bg_drag.svg) no-repeat center;
}

/*lnb*/
.left_section .fix {
  padding: 0 20px;
}

.left_section .fix h3 {
  font-size: 16px;
  height: 64px;
  line-height: 64px;
}

.left_section .fix .btn_close {
  display: none;
}

.left_section .ico_fold {
  position: absolute;
  top: 16px;
  right: -21px;
  width: 20px;
  height: 48px;
  border: 1px solid #eee;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  background-color: #fff;
  z-index: 120;
}

.left_section .ico_fold::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 100%;
  background: url(../images/icon/ico_fold.svg) no-repeat center;
}

.left_section.fold {
  width: 0;
  max-width: 0;
  min-width: 0;
  padding-right: 0;
}

.left_section.fold .fix {
  overflow: hidden;
  display: none !important;
}

.left_section.fold .ui-resizable-e {
  width: 0;
  border-right: 0;
}

.left_section.fold .ico_fold {
  left: 0;
}

.left_section.fold .ico_fold::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.index_navi {
  overflow-y: auto;
}

.index_navi a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 6px 12px 6px 0;
}

.index_navi a span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 8px;
}

.index_navi a em {
  text-indent: 0;
  white-space: pre-wrap;
}

.index_navi .ico_outlink {
  position: relative;
  margin-left: 6px;
  top: 3px;
  margin-left: 6px;
  opacity: 0.6;
}

.index_navi .ico_outlink:hover {
  opacity: 1;
}

.index_navi li {
  position: relative;
}

.index_navi li > a.active {
  position: relative;
  background-color: #EEFCFC;
}

.index_navi li > a.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #15C5CE;
}

.index_navi li a:hover {
  background-color: #EEFCFC;
}

.index_navi .d1 {
  text-indent: 20px;
}

.index_navi .d2 {
  text-indent: 40px;
}

.index_navi .d3 {
  text-indent: 60px;
}

.index_navi .d4 {
  text-indent: 80px;
}

.index_navi .d5 {
  text-indent: 100px;
}

.index_navi .d6 {
  text-indent: 120px;
}

.index_navi .d7 {
  text-indent: 140px;
}

.index_navi .d8 {
  text-indent: 160px;
}

.index_navi .d9 {
  text-indent: 180px;
}

.index_navi .d10 {
  text-indent: 200px;
}

.footnote {
  margin: 56px 32px 0 32px;
  border-top: 1px solid #eee;
}

.footnote > ul {
  padding: 24px 24px 40px 24px;
}

.footnote .col_mint70 {
  display: inline-block;
  margin-right: 4px;
}

.footnote .col_mint70:hover {
  color: #00ABB6;
}

.footnote li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-weight: 500;
}

/*768이상 미노출 요소*/
.search_btn_box {
  display: none;
}

.ico_list_white {
  display: none;
}

.mo_txtArea_control {
  display: none;
}

@media all and (max-width: 1023px) {
  /*메인 반응형*/
  .search_btn_box {
    display: block;
  }
  .doc_header .integratedSearch_box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 16px;
    background: #15C5CE;
    height: 100%;
  }
  .doc_header .integratedSearch_box.on {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .doc_header .integratedSearch_box .ico_close_white {
    display: inline-block;
  }
}
@media all and (max-width: 768px) {
  /*메인 반응형*/
  .ico_list_white {
    display: block;
  }
  .search_btn_box {
    display: block;
  }
  .mo_txtArea_control {
    display: block;
  }
  .left_section .fix .btn_close {
    display: block;
  }
  .doc_header {
    display: block;
    height: auto;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .doc_header .integratedSearch_box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 16px;
    background: #15C5CE;
    height: 55px;
  }
  .doc_header .left {
    position: fixed;
    width: 100%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 56px;
    padding: 0 8px 0 16px;
    background-color: #15C5CE;
    z-index: 900;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .doc_header .left .myMenu_btn_box {
    display: block;
    margin-left: auto;
  }
  .doc_header .right {
    position: fixed;
    z-index: 800;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 16px;
    margin-left: 0;
    height: 56px;
    background-color: #15C5CE;
  }
  .doc_header .right .edit_btn_box {
    display: none;
  }
  .doc_header .right .myMenu_btn_box {
    display: none;
  }
  .doc_header .right .btn_list {
    margin-left: auto;
  }
  .doc_header .right .btn_list > .list:first-child {
    margin-left: 0;
  }
  .doc_header .right .btn_list > .list {
    margin-left: 4px;
  }
  .doc_header .right .btn_list > .list.fontZoom_btn_box {
    margin-right: 0;
  }
  .right_section {
    padding-top: 112px;
    top: 0;
    height: 100vh;
  }
  .left_section {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: fixed;
    left: -100%;
    top: 0;
    width: calc(100% - 300px);
    min-width: 440px;
    height: 100vh;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1000;
  }
  .left_section.open {
    left: 0;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  }
  .left_section h3 {
    height: 56px;
    line-height: 56px;
  }
  .left_section .ico_fold {
    display: none;
  }
  .ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none !important;
  }
  .ui-resizable-handle, .ui-resizable-e {
    display: none !important;
  }
  .edit_btn_box_visible {
    display: none !important;
  }
  .edit_btn_box li {
    display: none;
  }
  .edit_btn_box li.dropdown {
    display: block;
  }
  .dropdown-menu .dropdown-item {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .dropdown-menu .dropdown-item.mo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dropdown-menu .dropdown-item .ico {
    position: relative;
  }
  .footnote {
    padding: 16px;
    margin: 0;
  }
  .footnote > ul {
    padding: 0;
  }
  .tooltip {
    display: none !important;
  }
  [class*=tooltip_label] {
    display: none !important;
  }
  .txt_cont {
    width: calc(100% - 24px);
  }
}
@media all and (max-width: 480px) {
  /*메인 반응형*/
  .left_section {
    width: calc(100% - 48px);
    min-width: auto;
  }
}
/*탑으로*/
.btn_top {
  position: fixed;
  bottom: 16px;
  right: 20px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  border-radius: 40px;
  z-index: 900;
}

.btn_top.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn_top:focus {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=document.css.map */