//레이아웃
.document_page{display:flex;flex-direction: column;min-height:100%}
.document_page .content{display:flex;flex-direction: column;flex:1;padding:60px 0 0 240px;}

//공통요소
.document_page .ico_mask{position:relative;}
.document_page .btn_scrap.on .icoSvg{color:#FFAD0D;fill:#FFAD0D;}
.document_page .icoSvg ~ .mark_count{position: absolute;top:-4px;left:12px;}
.document_page .edit_btn_area{display:flex;align-items: center;}
.document_page .outlink{color:$text-color-primary;  stroke:#F5F5F5;}
.document_page .outlink::before{
  $color:15C5CE;
  content:'';
  position: relative;
  top:-1px;
  display:inline-block;
  vertical-align: middle;
  width:20px;
  height:20px;  
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"><path stroke="%23#{$color}" stroke-linecap="round" stroke-width="1.5" d="M11.667 14.167h1.666a4.167 4.167 0 0 0 0-8.334h-1.666m-3.334 0H6.667a4.167 4.167 0 1 0 0 8.334h1.666M12.5 10h-5"/></svg>');
}

//목차
.document_page .doc_nav{position:fixed;top:60px;left:0;display:flex;flex-direction: column;min-width:240px;width:240px;height:calc(100vh - 60px);border-right:1px solid $color-border-default;overflow-y:auto;}
.document_page .doc_nav .nav_head{display:flex;padding:16px 16px 8px 16px;}
.document_page .doc_nav .nav_head h2{font-size:18px;font-weight:600;}
.document_page .doc_nav .nav_body li a{display:flex;padding:8px 16px;line-height:20px;}
.document_page .doc_nav .nav_body li a:hover{background-color:#EEFCFC;}

//Header
.document_page .doc_header{position:fixed;top:0;left:0;width:100%;display:flex;justify-content:space-between;align-items: center;height:60px;padding:0 20px;background-color:$color-bg-primary;z-index: 100;}
.document_page .doc_header h1{@include ellipsis(2); font-size:20px;font-weight:bold;color:#fff;}
.document_page .doc_header .btn_edit{margin-left:8px;}
.document_page .doc_header .global_btn_area{display:flex;height:100%;}
.document_page .doc_header .global_btn_area .btn_menu{width:40px;height:40px;border:1px solid rgba(255,255,255,.3);border-radius: $btn-radius-circle;}
.document_page .doc_header .global_btn_area .start_area{display:flex;align-items: center;border-right:1px solid rgba(255, 255, 255, .3);}
.document_page .doc_header .global_btn_area .start_area > button{position: relative;margin-right:20px;}
.document_page .doc_header .global_btn_area .end_area{position:relative;display:flex;align-items: center;}
.document_page .doc_header .global_btn_area .end_area > button{position: relative;margin-left:20px;}
.document_page .doc_header .global_btn_area button .mark_count{background-color:#fff;color:$text-color-primary}

//문서영역
.document_page .doc_list_wrap{width:100%;padding:40px 24px;}
.document_page .doc_list_head{display:flex;justify-content: space-between;min-height:44px;background-color:$color-bg-default;padding:6px 16px;}
.document_page .doc_list_head[aria-expanded="true"] + .doc_list_body{display:block;}
.document_page .doc_list_head[aria-expanded="false"] + .doc_list_body{display:none;}
.document_page .doc_list_head[aria-expanded="true"] .btn_acco{transform: rotate(0);}
.document_page .doc_list_head[aria-expanded="false"] .btn_acco{transform: rotate(-90deg);}
.document_page .doc_list_head .edit_btn_area li{position:relative;margin-left:16px;}
.document_page .doc_list_head.active{animation: activeBg 1s ease-in; animation-iteration-count:2;animation-delay: .3s;}

@keyframes activeBg{
	0% {background-color: $base-color-primary-20;}
	100% {background-color: $base-color-gray-10;}
}

.document_page .doc_list_item{margin-bottom:20px;}
.document_page .doc_list_item .tit_area{display:flex;align-items: center;flex:1;}
.document_page .doc_list_item .tit_area .tit{@include typo-heading-md($weight: 700);display:flex;line-height:20px;align-items: center;margin:0 8px;flex:1;}
.document_page .doc_list_item .tit_area .tit .form_input{max-width:500px;}
.document_page .doc_list_item .tit_area .btn_edit{display: inline-flex;margin-left:8px;}

.document_page .doc_list_content{margin:24px 16px;}
.document_page .doc_list_body .view_mode{position:relative;}
.document_page .doc_list_body .view_mode:hover{background-color:$color-bg-default;}
.document_page .doc_list_body .view_mode:hover .edit_btn_area{display:flex;}
.document_page .doc_list_body .view_mode .edit_btn_area{display:none;position:absolute;top:-36px;right:0;padding:8px 2px;background-color:#fff;box-shadow: $shadow-default;border-radius: $btn-radius-default;}
.document_page .doc_list_body .view_mode .edit_btn_area button{display: inline-flex;align-items: center;justify-content: center;width:40px;height:20px;padding:0 12px;border-right:1px solid $color-border-default}
.document_page .doc_list_body .view_mode .edit_btn_area button:last-child{border-right:0;}
.document_page .doc_list_body .view_mode .edit_btn_area button .mark_count{top:1px;left:20px;}

.document_page .doc_list_body .editor_mode{display:flex;}
.document_page .doc_list_body .editor_mode .editor{flex:1;overflow-x:auto}
.document_page .doc_list_body .editor_mode .edit_btn_box{display:flex;flex-direction:column;margin-left:10px;}
.document_page .doc_list_body .editor_mode .edit_btn_box .button{margin-bottom:6px;}

.view_mode{font-size:15px;}
.btn_more.res{display:none;}


@media all and (max-width:$breakpoint-tablet) {
  .document_page .doc_list_wrap{padding:24px 20px;}

  .btn_more.res{display:block;position: absolute;top:0;right:0;}
  .view_mode .edit_btn_area{display:none;}

  .document_page .content{padding-left:0;}
  .document_page .nav{display:none;}
  .document_page .global_btn_area .start_area{display:none;}
  .document_page .dropdown-menu .dropdown-item{justify-content:left}
  .document_page .dropdown-menu .dropdown-item.mo{display:flex;align-items: center;justify-content: space-between;}

  .document_page .doc_list_head .edit_btn_area li:not(.dropdown, .btn_scrap_area){display:none;}
  .document_page .doc_list_body .view_mode:hover .edit_btn_area{display:none;}
  .document_page .doc_list_body .view_mode{padding-right:20px;}
}