.document_page{display:flex;flex-direction: column;min-height:100%}
.document_page .edit_btn_area{display:flex;}

.document_page .doc_header{height:60px;background-color:#f5f5f5;}

.document_page .content{display:flex;flex:1;}
.document_page .nav{min-width:240px;border-right:1px solid $color-border-default}
.document_page .doc_list_wrap{width:calc(100% - 240px);padding:40px 40px;}

.editor_mode{overflow-x:auto;}