
/* 모달 기본설정 */
.modal{padding-right:0 !important;}

/* 모달 - 주요항목 설정 */
.modal_documentSet .repoList_item{margin-bottom:4px;}
.modal_documentSet .repoList_item:last-child{margin-bottom:0;}

/* 모달 - 정렬 설정 */
.modal_sortSet .select_area{flex:1;}
.modal_sortSet .select_area .form-select{width:50%;}
.modal_sortSet button i{overflow: hidden;}

/* 모달 - 복사 */
.modal_copy .txt_warning{display:flex;color:$color-error;}

  @media all and (max-width:$breakpoint-tablet) {
    .modal_copy .form_group .form-label{width:100% !important;}
  }

/* 모달 - 문서정보 */
.modal_documentInfo .add_tag_list{max-height:300px;overflow-y:auto;}

  @media all and (max-width:414px) {
    .modal_documentInfo .edit_box .form_input{width:100%;}
    .modal_documentInfo .tit_area .form-check{width:auto;}
    .form-check{width:100%;margin-left:0;margin-bottom:8px;}
    .form-check:last-child{margin-bottom:0;}
    .form-check + .form-check{margin-left:0;}
  }

/* 모달 - 목차정보 */
.modal_indexInfo .add_tag_list{max-height:300px;overflow-y:auto;}

/* 모달 - 파일다운로드 */
  @media all and (max-width: $breakpoint-tablet) {
    .form_group .form-label{width:100% !important;}
    .form-select.w140{min-width:140px !important;}
  }

/*모달 - 담당자 지정*/
.modal_manager .form_group_wrap{flex-wrap: nowrap;}

/* 모달 - 의견 */
.modal_comment textarea.form-control{height:120px;}
.modal_comment .comment_list .list_head{margin-bottom:8px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.modal_comment .comment_list .list_head .name{color:#4B4B4B;font-weight:700;}
.modal_comment .comment_list .list_head .name.private{color:#8E8E8E;}
.modal_comment .comment_list .list_head .caption{margin-left:8px;font-size:14px;font-weight: 300;}
.modal_comment .comment_list:first-child .list_item{margin-top:32px;border-top: 1px solid #f5f5f5;}
.modal_comment .comment_list .list_item{padding:16px;border-bottom:1px solid #f5f5f5;}
.modal_comment .comment_list .list_item.fix{background-color:#F2F9FF;border-bottom:1px solid #DEF0FF;}
.modal_comment .comment_list .list_item:hover{background-color:#f5f5f5;}
.modal_comment .comment_list .list_item .list_cont .edit_btn_box{margin-left:16px;}
.modal_comment .comment_list .list_item .list_cont .edit_btn_box .button{display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:4px;}
.modal_comment .comment_list .list_item .list_cont .edit_btn_box .button:last-child{margin-bottom:0;}

/* 모달 - 첨부파일 */
.modal_attachments .attachments_list{border-top:1px solid #8E8E8E;}
.modal_attachments .attachments_list li{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-ms-flex-align: center;align-items: center;min-height:50px;padding:16px;border-bottom:1px solid #f5f5f5;}
.modal_attachments .attachments_list .layout_box .left{overflow:hidden}
.modal_attachments .attachments_list .btn_attachments{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;overflow:hidden;word-break: break-all;width:100%;}
.modal_attachments .attachments_list .btn_attachments i{margin:-2px 6px 0 0;}
.modal_attachments .attachments_list .caption{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;margin-left:4px;word-break:initial;}
.modal_attachments .attachments_list .outline{min-width:52px;margin-left:24px;}
.modal_attachments .attachments_list .nodata{-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;color:#8E8E8E;}

.modal_attachments .form_group{margin-bottom:16px;}
.modal_attachments .form_group .outline{margin:0 8px;}
.modal_attachments .form_group p{margin-right:8px;font-weight:500;}
.modal_attachments .form_group .form-select{margin-right:auto;}
.modal_attachments .layout_box .btn_attachments .label{font-weight:700;}
.modal_attachments .layout_box{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.modal_attachments .index_subject{color:#8e8e8e;}

  @media all and (max-width:$breakpoint-tablet) {
    .modal_attachments .attachments_list li{padding:12px 8px;}
    .modal_attachments .form_group p{display:none;}
    .modal_attachments .form_group{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important;}
    .modal_attachments .form_group .form-select{-ms-flex-preferred-size:100%;flex-basis:100%;margin-bottom:12px;}
  }

/*모달 - 복원하기*/
.modal_restore .info_txt{position:relative;padding-left:32px;}
.modal_restore .info_txt::before{content:'';position:absolute;top:0;left:0;display:inline-block;width:24px;height:24px;background:url(../images/icon/ico_info_blue.svg) no-repeat center;}
.modal_restore .info_txt.warning::before{background-image:url(../images/icon/ico_info-warning.svg)}
.modal_restore .info_txt ul{margin:24px 0;}

/*모달 - 참조*/
.modal_reference .list_item .txt_area{width:100%;overflow: hidden;}
.modal_reference .list_item .txt_area .badge_state{position:relative;top:-1px;}
.modal_reference .list_item .txt_area .d-flex{-ms-flex-wrap: wrap;flex-wrap: wrap;}
.modal_reference .list_item .txt_area .subject{margin-left:4px;}
.modal_reference .list_item .txt_area a{position:relative;display:inline-block;word-break: break-all;color:#CACACA;text-decoration: underline;}
.modal_reference .list_item .txt_area .okms_txt{display:-webkit-box;display:-ms-flexbox;display:flex;font-weight:400;line-height:18px;margin-bottom:6px;}
.modal_reference .list_item .txt_area .okms_txt::before{content:'';display:inline-block;margin-right:8px;min-width:16px;height:16px;background:url(../images/icon/ico_okms.svg) no-repeat left center;}
.modal_reference .list_item .list_cont .edit_btn_box .button{display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:4px}
.modal_reference .list_item .list_cont .edit_btn_box .button:last-child{margin-bottom:0;}
.modal_reference .align_left{margin-right:auto;}
.modal_reference .index_subject{margin-bottom:2px;color:#8e8e8e;}

	@media all and (max-width:$breakpoint-tablet) {
		.modal_reference .form_group p{display:none;}
		.modal_reference .form_input.form-select{width:100%;}
		.modal_reference .list_item .txt_area .d-flex{display:block !important;}
		.modal_reference .list_item .txt_area a{display:block;margin-left:0;padding-left:0;}
		.modal_reference .list_item .txt_area a::before{display:none;}
		.modal_reference .list_item .txt_area .subject{display:block;margin:4px 0 2px;}	
	}

/*모달 - 참조 수정*/
.modal_referenceEdit .form-label{width:70px;}

	@media all and (max-width:$breakpoint-tablet) {
		.modal_referenceEdit .titSearch_box{display:block !important;margin-top:24px;}
		.modal_referenceEdit .titSearch_box .form-check{width:auto !important;margin-bottom:0 !important}
		.modal_referenceEdit .titSearch_box .form-check + .form-check{margin-left:12px !important}
		.modal_referenceEdit .titSearch_box .form_group_wrap{margin-top:8px;margin-left:0 !important;}
		.modal_referenceEdit .form-label{width:100%;}
	}

/*모달 - 키워드추천*/
.modal_recommendKeyword .add_tag_list{margin-top:-8px;}
.modal_recommendKeyword .border_box{height:200px;line-height:200px;padding:0 16px;text-align:center;border:1px solid #E1E1E1;border-radius:4px;}

/*모달 - 목차정보*/
.tabCont_linkedQuery .responsive_table .tr .th{min-width:115px;}