.ico_box{position:relative;top:-1px;display:flex;align-items: center;justify-content: center;min-width:20px;width:20px;height:20px;margin-left:4px;border: 1px solid $color-border-default;border-radius: $btn-radius-circle;}

.search_page{height:100%;display:flex;flex-direction:column;}
.search_page .content{padding:60px 0 0 260px;flex:1;transition: .3s ease;}
.search_page .content_wrap{min-height:100%;display:flex;padding:40px 24px 80px;}
.search_page .main_panel{flex:1;width:calc(100% - 280px)}

/* 상단 */
.resultBtn_area{display:flex;align-items:center;flex-wrap: wrap;justify-content:flex-end;}
.resultBtn_area .button.md{padding:0 11px;}
.resultBtn_area .form-select{width:auto;padding:0 32px 0 8px;background-position:center right 8px;}
.resultBtn_area .customSelect_area{position: relative;}
.resultBtn_area .customSelect_list{min-width:100%;}

.main_head{display:flex;justify-content: space-between;align-items: baseline;margin-bottom:16px;}
.main_head .result_txt{position:relative;;display:flex;align-items: center;font-size:20px;font-weight:500;background-color:#fff;z-index: 100;white-space:nowrap;}
.main_head .result_txt strong{font-weight:500;}
.main_head .result_txt .count{font-size:14px;font-weight:400;}

/* 우측패널 */
.right_panel{position:relative;width:240px;min-width:240px;max-width:240px;margin-left:40px;}
.right_panel .side_item{margin-bottom:16px;}
.right_panel .side_item:last-child{margin-bottom:0;}
.right_panel .setting_area{text-align:right;}
.right_panel .setting_area .btn_setting{display:flex;align-items: center;margin-left:auto;line-height: 20px;}
.right_panel [class*="popular"]{padding: 16px 20px 12px 20px;border:1px solid $color-border-default;}
.right_panel .popularDoc li{display:flex;align-items: baseline;margin-bottom:8px;}
.right_panel .popularDoc li .list_index{@include typo-caption-sm;min-width:18px;max-width:18px;height:18px;text-align: center;line-height:18px;border-radius: $btn-radius-default;background-color:$color-bg-default}
.right_panel .popularDoc li .list_count{@include typo-caption-sm;margin-left:auto;}
.right_panel .popularDoc li .list_name{margin:0 8px 0 6px;line-height:22px;}
.right_panel .popularKeyword li{display:inline-block;margin-right:8px;margin-bottom:8px;}
.right_panel .popularKeyword li:last-child{margin-right:0;}
.right_panel .popularKeyword li a{display:inline-block;padding:4px 8px;min-height:32px;background-color:$color-bg-default;border-radius: $btn-radius-default;}

/* 리스트 */
.result_wrap{margin-top:16px;border-top:1px solid $color-border-default;}
.result_wrap .nodate{display:flex;align-items: center;justify-content:center;height:180px;color:$text-color-800;border-bottom:1px solid $color-border-default;}
.result_wrap .list_item{position:relative;padding:24px 12px 24px 40px;padding-left:40px;border-bottom:1px solid $color-border-default;}
.result_wrap .list_item:hover{background-color:$color-bg-light;}

.result_wrap .list_item .btn_area{display:none;position:absolute;bottom:0;right:0;line-height: initial;}
.result_wrap .list_item:hover .btn_area{display:flex;align-items: center;}
.result_wrap .list_item .btn_area .button{position:relative;margin-left:4px;}
.result_wrap .list_item .btn_area .division{position:relative;top:-1px;margin-right:2px;margin-left:8px;width:1px;height:12px;border:1px solid $color-border-default;}

.result_wrap .list_item .docTit_category i{position:relative;top:3px;}

.result_wrap .tit_area{margin-bottom:12px;}
.result_wrap .tit_area .custom-checkbox{display:inline-flex;position:absolute;top:24px;left:12px;}
.result_wrap .tit_area .tit{@include typo-heading-sm($weight:600);display:inline;}
.result_wrap .tit_area .txt_badge{position: relative;top:-2px;margin-left:4px;}
.result_wrap .tit_area .btn_more{display:none;}

.result_wrap .info_area{display:flex;flex-wrap: wrap;}
.result_wrap .info_area dl{display:inline-flex;margin-right:12px;margin-bottom:4px;}
.result_wrap .info_area dl dt{@include typo-body-md($color: $text-color-800);margin-right:4px;}
.result_wrap .info_area dl dd{@include typo-body-md;}

.result_wrap .preview_area{@include ellipsis(3);color:$text-color-800;margin:12px 0;}

.repoInfo_wrap{position:relative;padding-right:220px;}
.repoInfo_area{@include typo-caption-md($color:$text-color-400);line-height:20px;}
.repoInfo_area .repoInfo_category{display:inline;}
.repoInfo_area .ico_box{position:relative;top:2px;display:inline-block;}
.repoInfo_area .ico_box .ico_arr_bot{vertical-align: inherit;}
.repoInfo_area .repoInfo_name{position:relative;}
.repoInfo_area .repoInfo_name .name{display:inline;}
.repoInfo_area .repoInfo_name .name::after{content:'';position:relative;top:2px;display:inline-block;width:1px;height:12px;margin:0 8px;background-color:#e1e1e1;}
.repoInfo_area .repoInfo_layer{width:240px;padding:4px 0;margin:8px 0;left:50%;text-align: left;white-space: normal;box-shadow: $shadow-sm;}
.repoInfo_area .repoInfo_layer .head{padding:8px 20px;}
.repoInfo_area .repoInfo_layer .body{padding:4px 20px 8px 20px;}
.repoInfo_area .repoInfo_layer li{@include typo-caption-md($color:$text-color-400);margin-bottom:8px;}

.result_wrap .subInfo_area{position:relative;height:40px;padding:10px 40px 0 10px;border:1px solid $color-border-default;overflow-y:hidden;}
.result_wrap .subInfo_area .inner{display:flex;flex-wrap: wrap;}
.result_wrap .subInfo_area.on{height:auto;overflow-y:visible}
.result_wrap .subInfo_area dl{display:flex;margin-right:12px;margin-bottom:10px;}
.result_wrap .subInfo_area dl dt{@include typo-caption-md;margin-right:4px;}
.result_wrap .subInfo_area dl dd{@include typo-caption-md($color:$text-color-400);}
.result_wrap .subInfo_area .btn_more{position:absolute;top:10px;right:10px;display:flex;}
.result_wrap .subInfo_area.on .btn_more{transform: rotate(180deg);}

.subInfo_layer{max-width:500px;padding:4px 0 4px 0;text-align:left;white-space: normal;box-shadow: $shadow-sm;}
.subInfo_layer .head{margin:8px 20px;}
.subInfo_layer .body{float:left;margin:4px 20px 8px 20px;display:inline-block;}
.subInfo_layer dl{float: left;;margin-bottom:8px !important;margin-right:12px !important;}
.subInfo_layer dl,
.subInfo_layer dd,
.subInfo_layer dt{display:inline-flex !important;}

/* 리스트 - 첨부파일 */
.result_wrap .list_item.type_file .info_area dl{margin-bottom:0}
.result_wrap .list_item.type_file .sp_file.ico{display:inline-flex;width:20px;height:20px;position: relative;top:4px;}
.result_wrap .list_item.type_file .sp_file.ico::before{content:'';display:inline-flex;width:100%;height:100%;background-image:url('../images/icon/ico_sp_extension.svg');background-position:0 0;background-repeat:no-repeat;}
.result_wrap .list_item.type_file .sp_file.ico_doc::before{background-position:0 0;}
.result_wrap .list_item.type_file .sp_file.ico_hwp::before{background-position:0 -20px;}
.result_wrap .list_item.type_file .sp_file.ico_ppt::before{background-position:0 -40px;}
.result_wrap .list_item.type_file .sp_file.ico_zip::before{background-position:0 -60px;}
.result_wrap .list_item.type_file .sp_file.ico_xls::before{background-position:0 -80px;}
.result_wrap .list_item.type_file .sp_file.ico_pdf::before{background-position:0 -100px;}
.result_wrap .list_item.type_file .sp_file.ico_pic::before{background-position:0 -120px;}
.result_wrap .list_item.type_file .sp_file.ico_etc::before{background-position:0 -140px;}

.btn_listMore{display:none;}

/* 반응형 */
@media all and (max-width:$breakpoint-laptop) {
  .right_panel{display:none;} 
}

@media all and (max-width:$breakpoint-tablet) {
  .search_page .btn_listMore{display:flex;width:100%;} 

  .main_head{flex-wrap: wrap;}

  .search_page .content{padding:136px 0 0 0;}
  .search_page .content_wrap{padding:40px 16px 60px}

  .resultBtn_area .button,
  .resultBtn_area .customSelect_area{display:none;}
  .resultBtn_area .btn_createDoc,
  .resultBtn_area .btn_sort,
  .resultBtn_area .btn_more{display:flex;}

  .repoInfo_wrap{padding-right:0;}
  .result_wrap .list_item .btn_area{display:none;}  
  .result_wrap .list_item:hover .btn_area{display:none;}
  .result_wrap .list_item{padding:24px 0;}
  .result_wrap .tit_area{padding-right:28px;}
  .result_wrap .tit_area .custom-checkbox{display:none;}
  .result_wrap .tit_area .btn_more{display:flex;position:absolute;top:26px;right:0;}
}