/* filter */
.filter{position:fixed;top:60px;left:0;transition: .3s ease;width:260px;padding-top:73px;background-color:#fff;;border-right:1px solid $color-border-default;}
.filter .filter_head{position:absolute;top:0;left:0;width:100%;display:flex;align-items:center;justify-content:space-between;padding:20px;border-bottom:1px solid $color-border-default;}
.filter .filter_head .btn_close{display:none;}
.filter .filter_body{height:calc(100vh - 60px - 73px);overflow-y:auto;}
.filter .btn_fold{position:absolute;top:16px;right: -21px;width:20px;height:48px;border:1px solid #eee;border-left:0;border-radius: 0 4px 4px 0;background-color:#fff;z-index: 120;}
.filter .btn_fold::after{content:'';display:inline-block;width:12px;height: 100%;background: url(../images/icon/ico_fold.svg) no-repeat center;}
.filter .filter_body h3.tit{@include type-body-lg($weight:bold);}

.filter .custom-checkbox .custom-control-label{display:block;width:100%;}
.filter .custom-checkbox .custom-control-label::before{display:inline-block;margin-top:0;}
.filter .custom-control-input + .custom-control-label span{display:inline;vertical-align: top;position:relative;top:-2px;}

/* filter - 아이템 */
.filterComp{padding:10px 20px 10px 20px;border-bottom:1px solid $color-border-default;}
.filterComp.on .ico_arr_right{transform: rotate(90deg);}
.filterComp .btn_aco{display:flex;width:100%;height:40px;align-items: center;justify-content:space-between;}
.filterComp .btn_aco .ico_arr_right{transition: .3s;}
.filterComp .count{@include type-caption-sm;margin-left:4px;}

.filterComp .control_area{display:flex;margin-top:12px;margin-bottom:16px;align-items: center;justify-content:space-between;}
.filterComp .control_area .control_tab{display:flex;}
.filterComp .control_area .control_tab li{position: relative;margin-right:8px;padding-right:8px;}
.filterComp .control_area .control_tab li::after{content:'';position:absolute;top:5px;right:0;display:block;width:1px;height:12px;background-color: $color-bg-dark;}
.filterComp .control_area .control_tab li:last-child{margin-right:0;padding-right:0;}
.filterComp .control_area .control_tab li:last-child::after{display:none;}
.filterComp .control_area .control_tab button{color:$text-color-800;}
.filterComp .control_area .control_tab button.on{color:$text-color-primary;font-weight:700;}

.filterComp_list{margin-top:8px;;}
.filterComp_list .filterComp_listOpt{position: relative;margin-bottom:7px;}

.filterComp .btn_more{@include type-caption-sm;display:flex;align-items: center;justify-content:center;width:100%;height:28px;}
.filterComp .btn_more.on i{transform: rotate(270deg);}

/* filter - 문서분류 */
.filterComp .tree_listItem{margin-bottom:8px;}
.filterComp .tree_list{margin-bottom:8px;}
.filterComp .tree_list .btn_doc{position:relative;width:100%;padding:4px 10px;padding-right:30px;border:1px solid $color-border-default;border-radius: $btn-radius-default;text-align:left;}
.filterComp .tree_listItem .btn_doc .custom-control{position:relative;top:3px;}
.filterComp .tree_listItem .btn_doc .btn_arr{cursor: pointer;}
.filterComp .tree_listItem .btn_doc .btn_arr:hover i{color:#8E8E8E;}
.filterComp .tree_listItem.on .btn_doc{background-color:#EEFCFC;border-color:#DFF7F7;}
.filterComp .tree_list .btn_doc .btn_arr{display:flex;align-items: center;justify-content: center;position: absolute;top:50%;right:6px;margin-top:-12px;}
.filterComp .tree_listItem .btn_doc .btn_arr{transform: rotate(270deg);}
.filterComp .tree_listItem.on .btn_doc .btn_arr{transform: rotate(0);}
.filterComp .tree_list .treeComp{margin-top:8px;}
.filterComp .tree_list .treeComp li > .tree{display:flex;}
.filterComp .tree_list .treeComp li > .tree .btn_acco{top:5px;margin-top:0;}
.filterComp .tree_listItem:not(.on) .treeComp{display:none;}

@media all and (max-width:1023px) {
  .filter{display:block;width:300px;height:100vh;top:0;left:-100%;z-index:130;padding-top:109px;}
  .filter .btn_fold{display:none;}
  .filter .filter_head{padding-top:56px;}
  .filter .filter_head .btn_close{display:flex;position:absolute;top:16px;right:18px;}
  .filter .filter_body{height:calc(100vh - 109px);}
}


