/*모달 - 문서분류 설정*/
.category_wrap .category_tree{position:relative;min-width:260px;width:260px;height:auto;min-height:540px;max-height:800px;padding:16px 0 16px 16px;overflow: auto;background-color:#FAFAFA;border:1px solid #eee;white-space:nowrap;}
.category_wrap .category_tree .btn_close_box{width:100%;position:-webkit-sticky;position:sticky;top:0;left:0;padding:8px 0;background-color:rgba(250, 250, 250, 0.7);z-index:10;}
.category_wrap .category_tree .btn_close_box .ico_close{position:-webkit-sticky;position:sticky;top:0;left:220px;display:none;}
.category_wrap .category_tree li > .tree{display:inline-block;position:relative;padding:4px 0;margin-left:16px;}
.category_wrap .category_tree li > .tree > a{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;padding-right: 16px;font-size:13px;letter-spacing: -.4px;}
.category_wrap .category_tree li > .tree > a span{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;}
.category_wrap .category_tree li > .tree > a.checked{color:#00ABB6;font-weight:700;}

.category_wrap .category_tree li > .tree > a .count{margin-left:4px;color:#8E8E8E;font-weight:400;}
.category_wrap .category_tree li > .tree > a:hover{text-decoration: underline;}
.category_wrap .category_tree li > .tree .btn_acco{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;position:absolute;top: 50%;left:-22px;width:20px;height:20px;cursor: pointer;margin-top: -10px;}
.category_wrap .category_tree li > .tree .btn_acco::before{width:14px;height:14px;}
.category_wrap .category_tree li.on > .tree .btn_acco{-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}

.category_wrap .category_tree li > .tree + ul{display:none;margin-left:8px;}
.category_wrap .category_tree li.on > .tree + ul{display:block;}

.category_wrap.scrollY{height:540px;}
.category_wrap.scrollY .category_content{height:100%;padding:16px 16px;overflow-y:auto;border:1px solid #eee;border-left:none;}

.category_wrap .category_content{-webkit-box-flex:1;-ms-flex:1;flex:1;padding:0 16px;}
.category_wrap .category_content .table_wrap .table{min-width:auto;}

.category_wrap .search_mode{padding:0}
.category_wrap .search_mode li{margin-left:0;}
.category_wrap .search_mode li > .tree{margin-left:0 !important;}
.category_wrap .search_mode li > .tree + ul{display:block !important;}
.category_wrap .search_mode li > .tree .btn_acco{display:none !important;}
.category_wrap .search_mode li > .tree > a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.category_wrap .search_mode li > .tree > a::before{content:'';display:inline-block;min-width:2px;min-height:2px;width:2px;height:2px;margin-right:12px;background-color:#CACACA;border-radius: 50%;}
.category_wrap .search_mode .ico_close{display:block;}

/*보기전용*/
.category_wrap.view_mode .category_tree li > .tree{margin-left:0;}
.category_wrap.view_mode .category_tree li > .tree + ul{display:block;}

.category_wrap .category_tree.w100{width:100%;} /*트리만 있을 경우*/
.category_wrap .category_tree.hide_scrollX{white-space:inherit} /*가로 스크롤 삭제*/

/*탭포함*/
.category_wrap.include_tab .category_tree{padding:0;}
.category_wrap.include_tab .category_tree .tab-pane{padding:16px;}
.category_wrap.include_tab .category_tree .nodata{width:100%;padding:16px;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.category_wrap.include_tab .nav{position:-webkit-sticky;position:sticky;top:0;left:0;z-index:10;}

/*okms 탭*/
.category_wrap .tree_okms li > .tree > a{display:block;padding-left:12px;}
.category_wrap .tree_okms li > .tree > a:hover{text-decoration: none;}
.category_wrap .tree_okms li > .tree > a::before{position:absolute;top:12px;left:0;}
.category_wrap .tree_okms li > .tree > a:hover .tree_list_tit{text-decoration: underline;}
.category_wrap .tree_okms li > .tree .tree_list_cation{font-size:12px;color:#8E8E8E;font-weight: 300;}

/*트리영역에 플로팅헤더있을 경우*/
.category_wrap .fix_header{position:-webkit-sticky;position:sticky;top:0;left:0;padding:16px 16px;border-bottom:1px solid #eee;}
.category_wrap .category_tree .tab-pane.include_fixHeader{padding:0;}

/*트리영역 탭 콘텐츠 영역 서로 높이 다를 경우*/
.category_wrap.h_auto .category_tree{max-height:auto;height:auto;min-height:auto;overflow:inherit}
.category_wrap.h_auto .cont_area{position:relative;height:440px;min-height:200px;overflow-y:auto;padding:16px;}

/*반응형*/
@media all and (max-width:768px) {
	.category_wrap.view_mode{display:block !important;height:auto;}
	.category_wrap.view_mode .category_tree{width:100%;max-height:260px;min-height:260px;margin-bottom:16px;}
	.category_wrap.view_mode .category_content{padding:0;}
	
	.category_wrap .category_content .table_wrap .table{min-width:600px;}

	.category_wrap.h_auto .category_tree{max-height:100%;}
	.category_wrap.h_auto .cont_area{height:100%;}
	.category_wrap .fix_header{position:static}
}

@media all and (max-width:480px) {
	/*높이 고정형*/
	.category_wrap.scrollY{display:block !important;height:auto;}
	.category_wrap.scrollY .category_content{border:0;padding:16px 0;}
	
	.category_wrap .category_tree{width:100%;max-height:260px;min-height:260px;}
	.category_wrap .category_content{padding:0;}
}




