/*TAB*/
.tab-pane:focus{outline: none;border:none}/*리셋*/

.nav-tabs{border:0;}
.nav-tabs:active{border:0 !important;outline: none;}
.nav-tabs .nav-item{background-color:$color-bg-default;}
.nav-tabs .nav-item .nav-link{position:relative;width:100%;height:100%;padding:12px 4px;color:#4B4B4B;border-style:none;border-radius: 0;font-weight:500;border-bottom:1px solid  $color-border-default;}
.nav-tabs .nav-item .nav-link:hover{background-color:$color-bg-dark-lighter;border-bottom:1px solid $color-border-default;}
.nav-tabs .nav-item .nav-link.active{border-color:#fff;border-left:1px solid #eee;border-right:1px solid $color-border-default;}
.nav-tabs .nav-item .nav-link.active:after{content:'';position:absolute;top:0;left:0;width:100%;height:2px;background-color:$color-bg-primary;}
.nav-tabs .nav-item .nav-link .mark_count{position:relative;top:-1px;margin-left:4px;}
.nav-tabs .nav-item .nav-link.disabled{background:$btn-primary-disabled-bg-color;}

/*TAB - Tpye2*/
.nav-tabs.nav_type2 .nav-item{border:0;background-color:#fff;}
.nav-tabs.nav_type2 .nav-item .nav-link{width:100%;padding:8px 12px;border-bottom:1px solid $color-border-default;color:$text-color-800;}
.nav-tabs.nav_type2 .nav-item .nav-link:hover{background-color:$color-bg-default;;}
.nav-tabs.nav_type2 .nav-item .nav-link.active{border-left:0;color:$btn-primary-active-color}
.nav-tabs.nav_type2 .nav-item .nav-link.active:after{display:none;}
.nav-tabs.nav_type2 .nav-item .nav-link.active{border-bottom:1px solid $btn-primary-active-color;border-right:0;}

/* 커스텀 탭 */
.tabBtn ul{display:flex;}
.tabBtn ul li{margin-right:4px;}
.tabBtn ul li:last-child{margin-right:0;}
.tabBtn ul li.on button{background-color:$text-color-400;color:#fff;}
.tabBtn button{width:120px;height:40px;line-height:40px;background-color:#f5f5f5;border-radius:12px;@include typo-heading-md($color:$text-color-800 ,$weight:bold);}