/*custom-table*/
.responsive_table{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top:1px solid $color-border-dark;
}
.responsive_table .tr{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-flex:0;
  -ms-flex:0 50%;
  flex:0 50%;
  padding:8px 0;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  border-bottom:1px solid $table-cell-border-color;
}
.responsive_table .tr.w100{
  -webkit-box-flex:100%;
  -ms-flex:100%;
  flex:100%;
}
.responsive_table .tr .th{
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  min-width:95px;
  max-width:95px;
  padding:0 16px;
  font-weight: 300;
  color:$text-color-800;
}
.responsive_table .tr .td{
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1;
  padding:0 16px;
}
.responsive_table .tr.nodata{
  display:-webkit-box !important;
  display:-ms-flexbox !important;
  display:flex !important;
  height:50px;
  line-height:50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*bs-table reset*/
.table td, .table th{
  border-top:0;
}
.table thead th{
  border-bottom:0;
}

/*bs-table*/
.table_wrap{
  overflow-x:auto;
}
.table_wrap .table{
  width:100%;margin:0;
}
.table_wrap .table tr:hover{
  background-color:$table-hover-bg-color;
}
.table_wrap .table th{
  padding:8px 14px;
  font-weight:500;
  background:$table-cell-bg-color;
  color:#4b4b4b;
  border-bottom:1px solid $table-cell-border-color;
  vertical-align: middle;
}
.table_wrap .table td{
  height:50px;
  padding:8px 14px;
  border-bottom:1px solid $table-cell-border-color;
  color:#4b4b4b;
  word-break:break-all;
  vertical-align: middle;
}
.w1600 .table_wrap .table{
  min-width:100%;
}
.w1000 .table_wrap .table{
  min-width:800px;
}
.w800 .table_wrap .table{
  min-width:700px;
}
.w700 .table_wrap .table{
  min-width:600px;
}

.table .nodata td{padding:78px 14px;color:$text-color-800;text-align: center;}

/*테이블 버튼*/
.table td .button.md{
  min-width:auto;
  height:24px;
  line-height:24px;
  padding:0 8px;
  font-size:12px;
}
.table td .button.md.ml16{
  margin-left:8px !important;
}

@media all and (max-width:768px) {
  .responsive_table .tr{
    -webkit-box-flex:100%;
    -ms-flex:100%;flex:100%;
  }
  .table th{
    padding:8px 8px;
  }
  .table td{
    padding:8px 8px;
  }    
}
@media all and (max-width:480px) {
  .responsive_table .tr{
    display:block;
  }
  .responsive_table .tr .th{
    margin-bottom:4px;
    padding:0;
  }
  .responsive_table .tr .td{
    padding:0;
  }
}
