.treeComp li > .tree{display:inline-block;position:relative;padding:4px 0;margin-left:16px;}
.treeComp li > .tree > a{position:relative;display:flex;width:100%;padding-right: 16px;font-size:13px;letter-spacing: -.4px;}
.treeComp li > .tree > a span{display:inline-flex;}
.treeComp li > .tree > a.checked{color:#00ABB6;font-weight:700;}

.treeComp li > .tree > a .count{margin-left:4px;color:#8E8E8E;font-weight:400;}
.treeComp li > .tree > a:hover{text-decoration: underline;}
.treeComp li > .tree .btn_acco{display:inline-flex;align-items: center;justify-content: center;position:absolute;top: 50%;left:-22px;width:20px;height:20px;cursor: pointer;margin-top: -10px;}
.treeComp li > .tree .btn_acco::before{width:14px;height:14px;}
.treeComp li.on > .tree .btn_acco{-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}

.treeComp li > .tree + ul{display:none;margin-left:8px;}
.treeComp li.on > .tree + ul{display:block;}

.tree > .tree-list > .tree-row{padding-left:0 !important;}
.tree input[type="checkbox"]{min-width:20px;height:20px;border:1px solid #E1E1E1;}

.tree-row-item-icon-wrapper{display:flex;align-items:center;justify-content:center;width:20px;height:20px;}
.tree-row-item-icon-wrapper:hover svg{color:$icon-color-default}

.tree-row{padding-left:12px !important;}
.tree .tree-row-txt{@include type-body-md($color: $text-color-400);display:none;}

.tree-row-item{display:flex;padding:4px 0 4px 22px;position: relative;}
.tree-row-item-icon-wrapper{position:absolute;top:6px;left:0;}
.tree-row-item-icon-wrapper svg{width:18px;height:18px;stroke-width:1.6px;color:#CACACA;cursor: pointer;}

// input[type="checkbox"]{
//   display: none;
// }
// input[type="checkbox"] + label{
//   display: inline-block;
//   width: 30px;
//   height: 30px;
//   border:3px solid #707070;
//   position: relative;
// }
// input[id="check1"]:checked + label::after{
//   content:'✔';
//   font-size: 25px;
//   width: 30px;
//   height: 30px;
//   text-align: center;
//   position: absolute;
//   left: 0;
//   top:0;
// }