/*공통리스트*/
.list_wrap .list_item:first-child{border-top:1px solid $color-border-dark;}
.list_wrap .list_item{padding:16px;border-bottom:1px solid $color-bg-default;} 
.list_wrap .list_item.nodata{display:flex;justify-content:center;align-items:center;padding:12px 16px;color:$text-color-800;}
.list_wrap .list_item .list_tit{font-weight:700;}
.list_wrap .list_item .txt_area{font-weight: 300;}
