<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="all">
	<title>OKMS</title>
 
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/favicon//apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="../../lib/jquery-ui-1.12.1/jquery-ui.min.css">	
	<link rel="stylesheet" type="text/css" href="../../lib/bootstrap-4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/swiper-4.5.1/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="../../css/layout.css">

	<script src="../../lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
	<script src="../../lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../lib/bootstrap-4.3.1/js/popper.min.js"></script>
	<script src="../../lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
  <script src="../../lib/swiper-4.5.1/swiper.min.js"></script>
	
</head>

<body>

<div id="wrapper">

	
	<!-- S. 문서설정 모달(문서정보 탭) > 담당자 지정 모달 -->
	<div class="modal modal_manager" id="modal_manager" tabindex="-1" data-backdrop="static" data-keyboard="false" style="display:block;">
		<div class="modal-dialog w800">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="tit">담당자 지정</h5>
					<p class="sub_txt">서브타이틀이 들어가는 곳입니다.</p>
					<button type="button" class="btn-close" data-dismiss="modal">
						<i class="icoSvg stroke i_s24 col_lightgray">
							<svg aria-hidden="true" focusable="false"><use xlink:href="#ico_deleted"></use></svg>
						</i>  
					</button>
				</div>
				<div class="modal-body">
					<div class="form_group_wrap d-flex align-items-center justify-content-end right mb24">
						<div class="form_group">
							<label class="form-label mr8" for="search">회원검색</label>
							<input id="search" class="form_input" placeholder="회원을 찾아보세요.">
						</div>
						<button type="button" class="button primary md ml8"><i class="ico ico_search_white i_s20"></i><span class="label">찾기</span></button>
					</div>
					<div class="table_wrap">
						<table class="table">
							<colgroup>
								<col style="width:135px">
								<col style="width:105px">
								<col>
								<col style="width:179px">
								<col style="width:55px">
							</colgroup>
							<thead>
								<tr> 
									<th scope="col">아이디</th>
									<th scope="col">이름</th>
									<th scope="col">이메일</th>
									<th scope="col">가입일</th>
									<th scope="col">선택</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>gomapsun</td>
									<td>홍길동</td>
									<td>gomapsun@diquest.com</td>
									<td>2022-03-19 16:32</td>
									<td>
										<div class="custom-control custom-radio justify-content-center">
											<input type="radio" class="custom-control-input" id="radio1" name="sampleRadio">
											<label class="custom-control-label" for="radio1"></label>
										</div>
									</td>
								</tr>
								<tr>
									<td>gomapsun</td>
									<td>홍길동</td>
									<td>gomapsun@diquest.com</td>
									<td>2022-03-19 16:32</td>
									<td>
										<div class="custom-control custom-radio justify-content-center">
											<input type="radio" class="custom-control-input" id="radio2" name="sampleRadio">
											<label class="custom-control-label" for="radio2"></label>
										</div>
									</td>
								</tr>
								<tr>
									<td>gomapsun</td>
									<td>홍길동</td>
									<td>gomapsun@diquest.com</td>
									<td>2022-03-19 16:32</td>
									<td>
										<div class="custom-control custom-radio justify-content-center">
											<input type="radio" class="custom-control-input" id="radio3" name="sampleRadio">
											<label class="custom-control-label" for="radio3"></label>
										</div>
									</td>
								</tr>
								<tr>
									<td>gomapsun</td>
									<td>홍길동</td>
									<td>gomapsun@diquest.com</td>
									<td>2022-03-19 16:32</td>
									<td>
										<div class="custom-control custom-radio justify-content-center">
											<input type="radio" class="custom-control-input" id="radio4" name="sampleRadio">
											<label class="custom-control-label" for="radio4"></label>
										</div>
									</td>
								</tr>
								<tr>
									<td>gomapsun</td>
									<td>홍길동</td>
									<td>gomapsun@diquest.com</td>
									<td>2022-03-19 16:32</td>
									<td>
										<div class="custom-control custom-radio justify-content-center">
											<input type="radio" class="custom-control-input" id="radio5" name="sampleRadio">
											<label class="custom-control-label" for="radio5"></label>
										</div>
									</td>
								</tr>
								<tr>
									<td>gomapsun</td>
									<td>홍길동</td>
									<td>gomapsun@diquest.com</td>
									<td>2022-03-19 16:32</td>
									<td>
										<div class="custom-control custom-radio justify-content-center">
											<input type="radio" class="custom-control-input" id="radio6" name="sampleRadio">
											<label class="custom-control-label" for="radio6"></label>
										</div>
									</td>
								</tr>
								<tr>
									<td>gomapsun</td>
									<td>홍길동</td>
									<td>gomapsun@diquest.com</td>
									<td>2022-03-19 16:32</td>
									<td>
										<div class="custom-control custom-radio justify-content-center">
											<input type="radio" class="custom-control-input" id="radio7" name="sampleRadio">
											<label class="custom-control-label" for="radio7"></label>
										</div>
									</td>
								</tr>
								<tr>
									<td>gomapsun</td>
									<td>홍길동</td>
									<td>gomapsun@diquest.com</td>
									<td>2022-03-19 16:32</td>
									<td>
										<div class="custom-control custom-radio justify-content-center">
											<input type="radio" class="custom-control-input" id="radio8" name="sampleRadio">
											<label class="custom-control-label" for="radio8"></label>
										</div>
									</td>
								</tr>
								<tr>
									<td>gomapsun</td>
									<td>홍길동</td>
									<td>gomapsun@diquest.com</td>
									<td>2022-03-19 16:32</td>
									<td>
										<div class="custom-control custom-radio justify-content-center">
											<input type="radio" class="custom-control-input" id="radio9" name="sampleRadio">
											<label class="custom-control-label" for="radio9"></label>
										</div>
									</td>
								</tr>
								<tr>
									<td>gomapsun</td>
									<td>홍길동</td>
									<td>gomapsun@diquest.com</td>
									<td>2022-03-19 16:32</td>
									<td>
										<div class="custom-control custom-radio justify-content-center">
											<input type="radio" class="custom-control-input" id="radio10" name="sampleRadio">
											<label class="custom-control-label" for="radio10"></label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<nav class="pagination mt16">
						<ul>
							<!--비활성 addClass 'disabled'-->
							<li class="page_item"><button type="button" class="page_link ico btn_start disabled"><span class="skip">처음으로</span></button></li>	
							<li class="page_item"><button type="button" class="page_link ico btn_prev disabled"><span class="skip">이전</span></button></li>
							<!--선택됐을때 addClass 'on'-->
							<li class="page_item on"><button type="button" class="page_link">1</button></li>
							<li class="page_item"><button type="button" class="page_link">2</button></li>
							<li class="page_item"><button type="button" class="page_link">3</button></li>
							<li class="page_item"><button type="button" class="page_link">4</button></li>
							<li class="page_item"><button type="button" class="page_link">5</button></li>
							<li class="page_item"><button type="button" class="page_link ico btn_next"><span class="skip">다음</span></button></li>
							<li class="page_item"><button type="button" class="page_link ico btn_end"><span class="skip">마지막으로</span></button></li>
						</ul>
					</nav>
				</div>
				<div class="modal-footer">
					<button type="button" class="button outline lg" data-dismiss="modal">취소</button>
					<button type="button" class="button primary lg" data-dismiss="modal">저장</button>
				</div>
			</div>
		</div>
	</div>
	<!-- //E. 문서설정 모달(문서정보 탭) > 담당자 지정 모달 -->
	
	<div class="modal-backdrop show"></div>

</div>

<!-- common icon, js -->
<div id="ico_svg" data-include="../common/svg.html" style="display:none"></div>
<script src="../../js/ui.js"></script>
<!-- common icon, js -->

</body>
</html> 