<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="all">
	<title>OKMS > 통합검색 > 새글쓰기 모달</title>

  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/favicon//apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="../../lib/jquery-ui-1.12.1/jquery-ui.min.css">	
	<link rel="stylesheet" type="text/css" href="../../lib/bootstrap-4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/swiper-4.5.1/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="../../css/layout.css">

	<script src="../../lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
	<script src="../../lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../lib/bootstrap-4.3.1/js/popper.min.js"></script>
	<script src="../../lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
  <script src="../../lib/swiper-4.5.1/swiper.min.js"></script>
  
</head>

  <body>
    <div id="wrapper" class="search_page">
      
      <main class="content">
      </main>
      
      <!-- S.모달 : 새글쓰기 -->
      <div class="modal modal_createDoc fade show" id="modal_createDoc" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-modal="true" style="display:block;">
        <div class="modal-dialog w800">
          <div class="modal-content"> 
    
            <div class="modal-header">
              <h5 class="tit">새글쓰기</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="닫기">
                <i class="icoSvg stroke i_s24 col_lightgray">
                  <svg aria-hidden="true" focusable="false"><use xlink:href="#ico_deleted"></use></svg>
                </i>
              </button>
            </div>
    
            <div class="modal-body">
              <div class="addDocument">
                <div class="docSubject_area d-flex mb32 align-items-end">


                  <div class="form_group flex-fill">
                    <label for="repository" class="h2 mb12">문서 정보</label>
                    <div class="d-flex">
                      
                      <select id="repository" class="form_input form-select w200px mr8 flex-shrink-0" required>
                        <option value="" selected>저장소 선택</option>
                        <option value="option1">저장소1</option>
                        <option value="option2">저장소2</option>
                        <option value="option3">저장소3</option>
                      </select>

                      <!--
                        중복확인 버튼 클릭 후
                        Case1. 사용가능 : addclass 'success' 문구 : 사용 가능한 제목입니다.
                        Case2. 이미등록된 경우 : addclass 'error' 문구 : 이미 등록된 제목입니다.
                      -->                      
                      <div class="form_group d-flex w100 position-relative error success">
                        <input type="text" class="form_input w100" id="title" placeholder="문서 제목을 입력하세요.">
                        <p class="state_txt mt4" style="display:block">사용 가능한 제목입니다. or 이미 등록된 제목입니다.</p>
                        <button type="button" class="button outline md ml8 flex-shrink-0">중복확인</button>
                      </div>                     
                    
                    </div>                    
                  </div>

                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="check1">
                    <label class="custom-control-label" for="check1"><span>중요문서</span></label>
                  </div>
                </div>
                <p for="title" class="h2 mb12">목차 템플릿 선택</p>
                <div class="template_list"> 
                  <ul>
                    <li class="template_listItem noTemp">
                      <a href="javascript:;" class="list_item">                        
                        선택안함
                      </a>
                    </li>
                    <li class="template_listItem">
                      <a href="javascript:;" class="list_item">
                        <p class="tit">템플릿 선택</p>
                        <div class="view_tree">
                          <ul>
                            <li>
                              <p><span>1</span><em>문서기본정보</em></p>
                              <ul>
                                <li>
                                  <p><span>1.1</span><em>Lorem Ipsum is</em></p>
                                  <ul>
                                    <li>
                                      <p><span>1.1.1</span><em>中國語 回復の兆しが一向に見えなくて</em></p>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <p><span>2</span><em>하위목차 없을때</em></p>
                            </li>
                            <li>
                              <p><span>3</span><em>가로 스크롤 없는 트리 구조는 텍스트가 내려갑니다. 가로 스크롤 없는 트리 구조는 텍스트가 내려갑니다.</em></p>
                            </li>
                          </ul>
                        </div>
                      </a>
                      <button type="button" class="btn_tempDetail mt4" data-toggle="modal" data-target="#modal_tempDetail">
                        <i class="icoSvg stroke i_s18">
                          <svg aria-hidden="true" focusable="false"><use xlink:href="#ico_search"></use></svg>
                        </i>
                      </button>
                    </li>
                    <li class="template_listItem">
                      
                      <!-- 선택하면 addClass('on') -->
                      <a href="javascript:;" class="list_item on">
                        <p class="tit">템플릿 선택</p>
                        <div class="view_tree">
                          <ul>
                            <li>
                              <p><span>1</span><em>문서기본정보</em></p>
                              <ul>
                                <li>
                                  <p><span>1.1</span><em>Lorem Ipsum is</em></p>
                                  <ul>
                                    <li>
                                      <p><span>1.1.1</span><em>中國語 回復の兆しが一向に見えなくて</em></p>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <p><span>2</span><em>하위목차 없을때</em></p>
                            </li>
                            <li>
                              <p><span>3</span><em>가로 스크롤 없는 트리 구조는 텍스트가 내려갑니다. 가로 스크롤 없는 트리 구조는 텍스트가 내려갑니다.</em></p>
                            </li>
                          </ul>
                        </div>
                      </a>
                      <button type="button" class="btn_tempDetail mt4" data-toggle="modal" data-target="#modal_tempDetail">
                        <i class="icoSvg stroke i_s18">
                          <svg aria-hidden="true" focusable="false"><use xlink:href="#ico_search"></use></svg>
                        </i>
                      </button>
                    </li>
                    <li class="template_listItem">
                      <a href="javascript:;" class="list_item">
                        <p class="tit">템플릿 선택</p>
                        <div class="view_tree">
                          <ul>
                            <li>
                              <p><span>1</span><em>문서기본정보</em></p>
                              <ul>
                                <li>
                                  <p><span>1.1</span><em>Lorem Ipsum is</em></p>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </a>
                      <button type="button" class="btn_tempDetail mt4" data-toggle="modal" data-target="#modal_tempDetail">
                        <i class="icoSvg stroke i_s18">
                          <svg aria-hidden="true" focusable="false"><use xlink:href="#ico_search"></use></svg>
                        </i>
                      </button>
                    </li>
                    <li class="template_listItem">
                      <a href="javascript:;" class="list_item">
                        <p class="tit">템플릿 선택</p>
                        <div class="view_tree">
                          <ul>
                            <li>
                              <p>
                                <span>1</span>
                                <em>문서기본정보
                                  <i class="icoSvg stroke i_s16"><svg aria-hidden="true" focusable="false"><use xlink:href="#ico_link"></use></svg></i>
                                </em>
                              </p>
                              <ul>
                                <li>
                                  <p>
                                    <span>1.1</span>
                                    <em>Lorem Ipsum is Lorem Ipsum is Lo
                                      <i class="icoSvg stroke i_s16"><svg aria-hidden="true" focusable="false"><use xlink:href="#ico_link"></use></svg></i>
                                    </em>
                                  </p>                                  
                                  <ul>
                                    <li>
                                      <p><span>1.1.1</span><em>中國語 回復の兆しが一向に見えなくて</em></p>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <p><span>2</span><em>하위목차 없을때</em></p>
                            </li>
                            <li>
                              <p><span>3</span><em>가로 스크롤 없는 트리 구조는 텍스트가 내려갑니다. 가로 스크롤 없는 트리 구조는 텍스트가 내려갑니다.</em></p>
                            </li>
                          </ul>
                        </div>
                      </a>
                      <button type="button" class="btn_tempDetail mt4" data-toggle="modal" data-target="#modal_tempDetail">
                        <i class="icoSvg stroke i_s18">
                          <svg aria-hidden="true" focusable="false"><use xlink:href="#ico_search"></use></svg>
                        </i>
                      </button>
                    </li>
                    <li class="template_listItem">
                      <a href="javascript:;" class="list_item">
                        <p class="tit">템플릿 선택</p>
                        <div class="view_tree">
                          <ul>
                            <li>
                              <p><span>1</span><em>문서기본정보</em></p>
                              <ul>
                                <li>
                                  <p><span>1.1</span><em>Lorem Ipsum is</em></p>
                                  <ul>
                                    <li>
                                      <p><span>1.1.1</span><em>中國語 回復の兆しが一向に見えなくて</em></p>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <p><span>2</span><em>하위목차 없을때</em></p>
                            </li>
                            <li>
                              <p><span>3</span><em>가로 스크롤 없는 트리 구조는 텍스트가 내려갑니다. 가로 스크롤 없는 트리 구조는 텍스트가 내려갑니다.</em></p>
                            </li>
                          </ul>
                        </div>
                      </a>
                      <button type="button" class="btn_tempDetail mt4" data-toggle="modal" data-target="#modal_tempDetail">
                        <i class="icoSvg stroke i_s18">
                          <svg aria-hidden="true" focusable="false"><use xlink:href="#ico_search"></use></svg>
                        </i>
                      </button>
                    </li>
                    <li class="template_listItem">
                      <a href="javascript:;" class="list_item">
                        <p class="tit">템플릿 선택</p>
                        <div class="view_tree">
                          <ul>
                            <li>
                              <p><span>1</span><em>문서기본정보</em></p>
                              <ul>
                                <li>
                                  <p><span>1.1</span><em>Lorem Ipsum is</em></p>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </a>
                      <button type="button" class="btn_tempDetail mt4" data-toggle="modal" data-target="#modal_tempDetail">
                        <i class="icoSvg stroke i_s18">
                          <svg aria-hidden="true" focusable="false"><use xlink:href="#ico_search"></use></svg>
                        </i>
                      </button>
                    </li>
                  </ul>          
                  
                </div>
              </div>
            </div>
    
            <div class="modal-footer">
              <button type="button" class="button outline lg" data-dismiss="modal">취소</button>
              <button type="button" class="button primary lg" data-dismiss="modal">문서생성</button>
            </div>
          </div>
        </div>
      </div>
      <!-- //E.모달 : 새글쓰기 -->
      
    </div>
    <!-- //wrap -->

    <div class="modal-backdrop fade show modal-stack" style="z-index: 1039;"></div>

    <!-- common icon, js -->
    <div id="ico_svg" data-include="../common/svg.html" style="display:none"></div>
    <script src="../../js/ui.js"></script>
    <!-- common icon, js -->
        
  </body>
</html>