<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="all">
	<title>OKMS > 통합검색 > 정렬설정 모달</title>
 
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/favicon//apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="../../lib/jquery-ui-1.12.1/jquery-ui.min.css">	
	<link rel="stylesheet" type="text/css" href="../../lib/bootstrap-4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/swiper-4.5.1/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="../../css/layout.css">

	<script src="../../lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
	<script src="../../lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../lib/bootstrap-4.3.1/js/popper.min.js"></script>
	<script src="../../lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
  <script src="../../lib/swiper-4.5.1/swiper.min.js"></script>
  
</head>

  <body>
    <div id="wrapper" class="search_page">
      
      <main class="content">
      </main>
      
      <!-- S.모달 : 정렬 설정 -->
      <div class="modal modal_type2 modal_sortSet fade show" id="modal_sortSet" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-modal="true" style="display:block;">
        <div class="modal-dialog w460 max_h700">
          <div class="modal-content"> 
    
            <div class="modal-header">
              <h5 class="tit">정렬 설정</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="닫기">
                <i class="icoSvg stroke i_s24 col_lightgray">
                  <svg aria-hidden="true" focusable="false"><use xlink:href="#ico_deleted"></use></svg>
                </i>
              </button>
            </div>
    
            <div class="modal-body">
              <div class="mb24">
                <p class="txt_bold mb6">가중치 정렬</p>
                <div class="d-flex flex-wrap">
                  <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="filter_radio1" name="filter_radio" checked="checked">
                      <label class="custom-control-label" for="filter_radio1"><span>적용</span></label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="filter_radio2" name="filter_radio">
                    <label class="custom-control-label" for="filter_radio2"><span>미적용</span></label>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center mb8">
                <div class="select_area d-flex">
                  <select class="form_input form-select mr8">
                    <option value="">정확도순</option>
                    <option value="">조회수</option>
                    <option value="">작성일순</option>
                    <option value="">수정순</option>
                  </select>
                  <select class="form_input form-select">
                    <option value="">내림차순</option>
                    <option value="">오름차순</option>
                  </select>
                </div>

                <!--
                  비활성화버튼 : disabled 클래스 추가
                -->
                <button type="button" class="i_s20 ml8 disabled" aria-label="추가">
                  <i class="icoSvg i_s20">
                    <svg aria-hidden="true" focusable="false"><use xlink:href="#ico_plus"></use></svg>
                  </i>
                </button>
              </div>
              <div class="d-flex align-items-center mb8">
                <div class="select_area d-flex">
                  <select class="form_input form-select mr8">
                    <option value="">정확도순</option>
                    <option value="">조회수</option>
                    <option value="">작성일순</option>
                    <option value="">수정순</option>
                  </select>
                  <select class="form_input form-select">
                    <option value="">내림차순</option>
                    <option value="">오름차순</option>
                  </select>
                </div>                
                <button type="button" class="i_s20 ml8" aria-label="추가">
                  <i class="icoSvg i_s18 d-flex justify-content-center align-items-center">
                    <svg aria-hidden="true" focusable="false"><use xlink:href="#ico_del"></use></svg>
                  </i>
                </button>
              </div>
            </div>
    
            <div class="modal-footer">
              <button type="button" class="button outline lg" data-dismiss="modal">취소</button>
              <button type="button" class="button primary lg" data-dismiss="modal">확인</button>
            </div>
          </div>
        </div>
      </div>
      <!-- //E.모달 : 정렬 설정 -->     


    </div>
    <!-- //wrap -->

    <div class="modal-backdrop fade show modal-stack" style="z-index: 1039;"></div>

    <!-- common icon, js -->
    <div id="ico_svg" data-include="../common/svg.html" style="display:none"></div>
    <script src="../../js/ui.js"></script>
    <!-- common icon, js -->
        
  </body>
</html>