<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="all">
	<title>OKMS > 통합검색 > 복사 모달</title>

  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/favicon//apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="../../lib/jquery-ui-1.12.1/jquery-ui.min.css">	
	<link rel="stylesheet" type="text/css" href="../../lib/bootstrap-4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/swiper-4.5.1/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="../../css/layout.css">

	<script src="../../lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
	<script src="../../lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../lib/bootstrap-4.3.1/js/popper.min.js"></script>
	<script src="../../lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
  <script src="../../lib/swiper-4.5.1/swiper.min.js"></script>
  
</head>

  <body>
    <div id="wrapper" class="search_page">
      
      <main class="content">
      </main>

      <!-- S.모달 : 복사 -->
      <div class="modal modal_copy fade show" id="modal_copy" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-modal="true" style="display:block;">
        <div class="modal-dialog w700">
          <div class="modal-content"> 
    
            <div class="modal-header">
              <h5 class="tit">복사</h5>
              <p class="sub_txt txt_warning">이력 정보를 같이 이관할 경우, ~~문제가 있을 수 있습니다.</p>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="닫기">
                <i class="icoSvg stroke i_s24 col_lightgray">
                  <svg aria-hidden="true" focusable="false"><use xlink:href="#ico_deleted"></use></svg>
                </i>
              </button>
            </div>
    
            <div class="modal-body">

              <div class="form_group d-flex mb16 align-items-center">
                <label class="form-label w100px mr8" for="">대상 저장소</label>
                <select class="form_input form-select flex-grow-1">
                  <option value="">저장소 선택</option>
                </select>
              </div>
              <div class="form_group d-flex align-items-center">
                <label class="form-label w100px mr8" for="">이력 이관 여부</label>
                <div class="d-flex flex-wrap">
                  <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="radio1" name="sample" checked="">
                      <label class="custom-control-label" for="radio1"><span>Y</span></label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="radio2" name="sample">
                    <label class="custom-control-label" for="radio2"><span>N</span></label>
                  </div>
                </div>
              </div>            
            </div>
    
            <div class="modal-footer">
              <button type="button" class="button outline lg" data-dismiss="modal">취소</button>
              <button type="button" class="button primary lg" data-dismiss="modal">확인</button>
            </div>
          </div>
        </div>
      </div>
      <!-- //E.모달 : 복사 -->

    </div>
    <!-- //wrap -->

    <div class="modal-backdrop fade show modal-stack" style="z-index: 1039;"></div>

    <!-- common icon, js -->
    <div id="ico_svg" data-include="../common/svg.html" style="display:none"></div>
    <script src="../../js/ui.js"></script>
    <!-- common icon, js -->
        
  </body>
</html>