<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="all">
	<title>OKMS</title>
 
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/favicon//apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="../../lib/jquery-ui-1.12.1/jquery-ui.min.css">	
	<link rel="stylesheet" type="text/css" href="../../lib/bootstrap-4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../lib/swiper-4.5.1/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="../../css/layout.css">

	<script src="../../lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
	<script src="../../lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../lib/bootstrap-4.3.1/js/popper.min.js"></script>
	<script src="../../lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
  <script src="../../lib/swiper-4.5.1/swiper.min.js"></script>
	
</head>

<div id="wrapper">	
	
	<!-- S. 첨부파일 모달 -->
	<div class="modal modal_attachments" id="modal_attachments" tabindex="-1" data-backdrop="static" data-keyboard="false" style="display:block;">
		<div class="modal-dialog w700">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="tit">첨부파일</h5>
					<p class="sub_tit mt8 mb8">문서명 : 안녕하세요 문서제목입니다.</p>
					<p class="sub_txt">업로드 가능한 파일 확장자 : hwp, doc, docx, ppt, pptx, xls, xlsx, txt, csv, jpg, jpeg, gif, png, bmp, pdf</p>
					<button type="button" class="btn-close" data-dismiss="modal">
						<i class="icoSvg stroke i_s24 col_lightgray">
							<svg aria-hidden="true" focusable="false"><use xlink:href="#ico_deleted"></use></svg>
						</i>
					</button>
				</div>
				<div class="modal-body">
					<div class="form_group d-flex align-items-center mb24">
						<select id="category" class="form_input form-select">
							<option>목차 선택</option>
						</select>
						<p>파일등록</p>
						<input class="form_input" value="파일을 첨부하세요." placeholder="파일을 첨부하세요." readonly>
						<label for="file" class="button outline md"><i class="ico ico_file i_s20"></i><span class="label">파일선택</span></label>
						<input type="file" id="file">
						<button type="button" class="button primary md">등록</button>						
					</div>

					<ul class="attachments_list">

						<!--
							[✅개발전달사항]
							첨부파일 0개일때 아래 .nodata 노출
						-->
						<li class="nodata">
							<p>첨부파일이 없습니다.</p>
						</li>

						<li>
							<div class="layout_box">
								<div class="left">
									<p class="index_subject">목차체계추가</p>
									<button type="button" class="btn_attachments"><i class="ico ico_xls"></i><span class="label ell1">파일제목 파일제목파일제목 파일제목파일제목 파일제목파일제목 파일제목파일제목 파일제목파일제목 파일제목</span><em class="caption">28KB</em></button>
								</div>
								<button type="button" class="btn_del button outline sm"><i class="ico i_s18 ico_del"></i><span class="label">삭제</span></button>
							</div>
						</li>
						<li>
							<div class="layout_box">
								<div class="left">
									<!-- <p class="index_subject">목차명</p> -->
									<button type="button" class="btn_attachments"><i class="ico ico_xls"></i><span class="label ell1">파일제목</span><em class="caption">28KB</em></button>
								</div>
								<button type="button" class="btn_del button outline sm"><i class="ico i_s18 ico_del"></i><span class="label">삭제</span></button>
							</div>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="button primary lg" data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>
	<!-- //E. 첨부파일 모달 -->

	<div class="modal-backdrop show"></div>

</div>

<!-- common icon, js -->
<div id="ico_svg" data-include="../common/svg.html" style="display:none"></div>
<script src="../../js/ui.js"></script>
<!-- common icon, js -->

</body>
</html> 